# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# testing
/coverage

# production
app/dist
functions/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
.env
!.env.example

# firebase
.firebase/
firebase-debug.log*